{% extends 'page/main.html' %}
<!-- Extendemos del archivo main.html -->>
{% load crispy_forms_tags %}
<!-- para estilo del formulario -->

<!-- Contenido del bloque -->
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Añade una entrevista</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Crear entrevista</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}