<!-- Template de la pagina empresa -->
{% extends 'page/main.html' %}
<!-- Extendemos del archivo main.html -->

<!-- Link de donde sacamos el diseño: https://www.bootdey.com/snippets/view/user-profile-bio-graph-and-total-sales -->

<!-- Aqui va el contenido -->
{% block content %}

<div class="container">
    <div class="main-body">

        <!-- Navigacion y editar reunion -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/entrevistas">Entrevistas</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{entrevista.nombre_postulante}}</li>

                <div class="align-self-end ml-auto">
                    <a href="#" class="btn btn-primary a-btn-slide-text" style="float: left;">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <span>Editar reunion</span>
                    </a>
                </div>
            </ol>

        </nav>
        <!-- /Navegacion y editar reunion -->

        <!-- Datos de la reunion -->
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{entrevista.nombre_postulante}} </h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{entrevista.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Fecha</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{entrevista.fecha_entrevista}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Archivos</h6>
                            </div>

                            <!-- Condicion que muestra el boton subir archivo o descargar archivo -->
                            <div class="col-sm-9 text-secondary">
                                {% if entrevista.cv %}
                                <div class="card-body"><a class="btn btn-primary"
                                        href="{{ entrevista.cv.cv.url }}">Descargar {{ entrevista.cv.cv }}</a></div>
                                {% else %}
                                <div class="card-body"><a class="btn btn-primary" href="#" data-toggle="modal"
                                        data-target="#ModelCV">Subir un archivo</a></div>
                                <!-- POP UP (o Modal si lo buscan en google) -->
                                <div class="modal" tabindex="-1" id="ModelCV">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Sube los archivos de la reunion</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ form.as_p }}
                                                    <button type="submit">Subir archivo</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}


                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Datos de la reunion -->
        <!-- Iniciar reunion boton (no implementado) -->
    </div>
    <div class="container ml-auto">
        <a href="#" class="btn btn-primary a-btn-slide-text" style="float: left;">
            <button type="button" class="btn btn-primary btn-lg">Iniciar reunion</button>
        </a>
    </div>
    <!-- /Iniciar reunion boton -->
</div>

{% endblock %}